*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(16px + (10 - 16) * (100vw - 320px) / (1920 - 320));
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  background-color: $color-background;
  font-family: $body-font-family;
  color: $body-color;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  letter-spacing: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a,
button {
  transition: 0.2s ease;
}

button {
  border-radius: $button-border-radius;
  cursor: pointer;
}

ul {
  padding-left: 0;
  margin: 0;
}

ol {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

.hide-text {
  font-size: 0;
}

.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 1400px) {
    max-width: 1400px;
  }
}
